{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "ec2-volume-resource",

  "Resources" : {

    "MyEBSVolume" : {
     "Type" : "AWS::EC2::Volume",
     "Properties" : {
         "Size" : "specify a size if no SnapShotId",
         "SnapshotId" : "specify a SnapShotId if no Size",
         "AvailabilityZone" : { "Ref" : "AvailabilityZone" }
     },
     "DeletionPolicy" : "Snapshot"
    }

  }
}


